<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
		<title>Eventos</title>
	</head>
	<body>
	
		<div th:replace="~{menu :: menu}"></div>
		<div class="container">
			<h1>Adicionar Evento</h1>
	
			<form action="/eventos" method="post" th:object="${evento}">
	
				<div>
					<input type="hidden" th:field="*{id}" readonly="readonly">
				</div>
				<div>
					
					<label>Nome:</label> 
					<p class="red-text text-darken-2" th:errors="*{nome}"></p>
					<input type="text" th:field="*{nome}">
				</div>
				<div>
					<label>Local:</label>
					<p class="red-text text-darken-2" th:errors="*{local}"></p>
					<input type="text" th:field="*{local}">
				</div>
				<div>
					<label>Data:</label>
					<p class="red-text text-darken-2" th:errors="*{data}"></p>
					<input type="text" th:field="*{data}">
				</div>
				<div>
					<label>Horário:</label>
					<p class="red-text text-darken-2" th:errors="*{horario}"></p>
					<input type="text" th:field="*{horario}">
				</div>
				<div>
					<button class="waves-effect waves-light btn" type="submit">Salvar</button>
					<button class="waves-effect waves-light btn" type="reset">Limpar</button>
				</div>
	
			</form>
		</div>
	
	</body>
</html>